<h1 class="text-3xl flex justify-center font-bold underline mt-10 w-screen">
  <div class="waviy">
    <span style="--i: 1">C</span>
    <span style="--i: 2">O</span>
    <span style="--i: 3">C</span>
    <span style="--i: 4">K</span>
    <span style="--i: 5">T</span>
    <span style="--i: 6">A</span>
    <span style="--i: 7">I</span>
    <span style="--i: 8">L</span>
    <span style="--i: 9">S</span>
  </div>
</h1>

<div class="h-screen flex flex-col justify-between items-center">
  <div class="main-header justify-center">
    <input
      type="text"
      (input)="getUserEmail($event)"
      placeholder="Email"
      [style.display]="display"
      class="mt-4"
    />
    <br />
    <input
      type="text"
      (input)="getUserPassword($event)"
      placeholder="Password"
      [style.display]="display"
    />

    <button
      (click)="logIn()"
      [style.display]="display"
      class="mt-4 text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Log in here!
    </button>
    <button
      (click)="openModal()"
      [style.display]="display"
      class="mt-4 text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Create new account!
    </button>

    <!-- Modal -->
    <div *ngIf="createModalDisplay" class="modal">
      <div class="modal-content">
        <input
          type="text"
          (input)="getCreateName($event)"
          placeholder="Name"
          [style.display]="display"
        />
        <input
          type="text"
          (input)="getCreateEmail($event)"
          placeholder="Email"
          [style.display]="display"
        />
        <input
          type="text"
          (input)="getCreateMobile($event)"
          placeholder="Mobile Number"
          [style.display]="display"
        />
        <input
          type="text"
          (input)="getCreatePassword($event)"
          placeholder="Password"
          [style.display]="display"
        />

        <button (click)="closeModal()">Close</button>
        <button (click)="createUser()">Sign Up!</button>
      </div>
    </div>

    <app-admin-page
      *ngIf="role === 'admin'"
      [email]="email"
      [accessToken]="accessToken"
    ></app-admin-page>
    <app-normal-user
      *ngIf="role === 'normal'"
      [accessToken]="accessToken"
    ></app-normal-user>
  </div>
</div>
