<div class="">
  <div class="">
    <div class="flex flex-row justify-center items-center">
      <input
        type="text"
        placeholder="Enter cocktail name"
        (input)="getInput($event)"
        class="top-0 mr-4"
      />
      <button
        (click)="getSearch()"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Search!
      </button>
      <button
        (click)="searchFavourites()"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Display favourites
      </button>
      <button
        *ngIf="favouritesDisplay"
        (click)="deleteAllFavourites()"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        delete all
      </button>
    </div>
    <div
      *ngIf="!favouritesDisplay"
      class="flex justify-center items-center flex-wrap"
    >
      <div *ngFor="let result of searchResult" class="menu__container">
        <p class="menu">{{ result.name }}</p>
        <img [src]="result.image" alt="" (click)="getModal(result)" />
      </div>
    </div>

    <!-- Modal -->
    <div *ngIf="modalDisplay" class="modal">
      <div *ngFor="let clicked of clickedImage" class="modal-content">
        <label> {{ clicked.name }} </label> <br />
        <label *ngIf="clicked.ingredient1"> {{ clicked.ingredient1 }} </label
        ><br />
        <label *ngIf="clicked.ingredient2"> {{ clicked.ingredient2 }} </label
        ><br />
        <label *ngIf="clicked.ingredient3"> {{ clicked.ingredient3 }} </label
        ><br />
        <label *ngIf="clicked.ingredient4"> {{ clicked.ingredient4 }} </label
        ><br />
        <label *ngIf="clicked.ingredient5"> {{ clicked.ingredient5 }} </label
        ><br />
        <label *ngIf="clicked.instruction"> {{ clicked.instruction }} </label
        ><br />
        <img class="modalImage" [src]="clicked.image" alt="" /> <br />
        <button
          (click)="createFavourites(clicked)"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          Add to favourites
        </button>
        <button
          (click)="closeModal()"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          Close
        </button>
      </div>
    </div>

    <!-- Favourites -->
    <div *ngIf="favouritesDisplay">
      <div *ngFor="let fave of favourites">
        <p>{{ fave.name }}</p>
        <img [src]="fave.image" alt="" (click)="getModal(fave)" />
        <button
          (click)="deleteFavourites(fave)"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          delete
        </button>
      </div>
    </div>
  </div>
</div>
